@import "tailwindcss";

:root {
  --slide-down-color: white;
  --slide-down-opacity: 1;
  --slide-down-opacity-black: 0;
}
.font-surfer {
  font-family: "Original Surfer", cursive !important;
}

nav {
  opacity: 0;
  animation: test linear forwards;
  animation-timeline: view();
  animation-range-start: 100vh;
  animation-range-end: 120vh;
}

@keyframes test {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
#hero-img {
  animation: home-test linear forwards;
  animation-timeline: view();
  animation-range-start: 100vh;
  animation-range-end: 150vh;
}

@keyframes home-test {
  0% {
    scale: 1.4;
    --slide-down-color: white;
    --slide-down-opacity: 1;
    --slide-down-opacity-black: 0;
  }
  100% {
    scale: 1;
    z-index: -100;
    --slide-down-color: black;
    --slide-down-opacity: 0;
    --slide-down-opacity-black: 1;
  }
}

#story div:has(img) {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: -200px;
  animation-range-end: 700px;
}

@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0.5;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

#slide-down {
  animation: slide-down-color forwards;
  animation-timeline: view();
  animation-range-start: 0vh;
  animation-range-end: 220vh;
  z-index: 100;
}

@keyframes slide-down-color {
  0% {
    color: white;
  }
  99% {
    color: white;
  }
  100% {
    color: black;
  }
}
